
extends layout

block content
    .details-head.depth-2
        h2 Most Recently Confirmed Exoplanet

    include planet

    link(rel='stylesheet', type='text/css', href='/static/content/foundation.min.css')
    link(rel='stylesheet', type='text/css', href='/static/content/normalize.css')
    link(rel='stylesheet', type='text/css', href='/static/content/site.css')
    script(src='/static/scripts/jquery-1.10.2.min.js')
