doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        style
            #banner{width: 100%;}
            #title{position: absolute;top: 50px;left: 50px;font-size: 3em;}
        title #{title} Exoplanets
    body
        header
            picture#banner
                source(media="(min-width: 1441px)" srcset="/static/images/extra-large.jpg")
                source(media="(min-width: 1025px)" srcset="/static/images/large.jpg")
                source(media="(min-width: 641px)" srcset="/static/images/medium.jpg")
                source(srcset="/static/images/small.jpg")
                img(src="/static/images/medium.jpg" alt="An image of the center of the galaxy")
            h1#title Exoplanets

        .navigation.medium-4.columns.medium-push-8
            .nav-card
                a(href="/") Home
            .nav-card
                a(href="/planets") All Confirmed Exoplanets
            .nav-card
                a(href="/stars") All Stars with Confirmed Exoplanets

            .explanation
                h3 A Note About Measurements
                p The values used for the mass and radius of planets are relative to the Earth. Similarly, the values for stars are relative to the Sun.
        .planet.medium-8.columns.medium-pull-4
            block content


