doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title #{title} Exoplanets
        link(rel='stylesheet', type='text/css', href='/static/content/foundation.min.css')
        link(rel='stylesheet', type='text/css', href='/static/content/site.css')
        script(src='/static/scripts/modernizr-2.6.2.js')
    body
        header
            picture#banner
                source(media="(min-width: 1441px)" srcset="/static/images/extra-large.jpg")
                source(media="(min-width: 1025px)" srcset="/static/images/large.jpg")
                source(media="(min-width: 641px)" srcset="/static/images/medium.jpg")
                source(srcset="/static/images/small.jpg")
                img(src="/static/images/medium.jpg" alt="An image of the center of the galaxy")
            h1#title Exoplanets

        script(src='/static/scripts/d3.v3.min.js')
        .planet.medium-8.columns
            block content

        .navigation.medium-4.columns
            .nav-card
                a(href="/") Home
            .nav-card
                a(href="/planets") All Confirmed Exoplanets
            .nav-card
                a(href="/stars") All Stars with Confirmed Exoplanets
            .nav-card
                a(href="") Links

    script(src='/static/scripts/jquery-1.10.2.js')
