
extends layout

block content
    .details-head
        h2 Methods
    .details.row.depth-1
        .medium-12.columns
            .card.depth-1
                h2#Imaging Imaging
                p.dark
                    |  Simple to explain, this is just observing the planet directly.
                    |  The difficulty is that planets are very small and dim compared to
                    |  their stars, so direct observation rarely works.

    .details.row.depth-1
        .medium-12.columns
            .card.depth-1
                h2#Transit Transit
                p.dark
                    |  A planet passing in front of its star causes a slight reduction
                    |  in observed brightness.

    .details.row.depth-1
        .medium-12.columns
            .card.depth-1
                h2#TransitTimingVariations Transit Timing Variations
                p.dark
                    |  In systems with multiple planets, their gravitational effects can
                    |  cause small changes in the time one takes to transit in front of the
                    |  star.

    .details.row.depth-1
        .medium-12.columns
            .card.depth-1
                h2#RadialVelocity Radial Velocity
                p.dark
                    |  As it orbits a star, a planet's gravity will cause slight changes
                    |  in the motion of the star relative to Earth. Measuring those
                    |  slight changes tells us something about the presence and mass of
                    |  the planet or planets.

    .details.row.depth-1
        .medium-12.columns
            .card.depth-1
                h2#Microlensing Microlensing
                p.dark
                    |  Occurs when the planet's gravity acts as a lens, causing small
                    |  distortions in the light from more distant stars.

    link(rel='stylesheet', type='text/css', href='/static/content/foundation.min.css')
    link(rel='stylesheet', type='text/css', href='/static/content/site.css')
