.navigation.medium-4.columns
    .nav-card
        a(href="/") Home
    .nav-card
        a(href="planets") All Confirmed Exoplanets
    .nav-card
        a(href="stars") All Stars with Confirmed Exoplanets
    .nav-card
        Links

script(src='/static/scripts/jquery-1.10.2.js')
script(src='/static/scripts/foundation/foundation.js')
script(src='/static/scripts/respond.js')