
extends layout

block content
    .details-head
        h2 Confirmed Exoplanets: #{planets|count}

    link(rel='stylesheet', type='text/css', href='/static/content/foundation.min.css')
    link(rel='stylesheet', type='text/css', href='/static/content/site.css')
    script(src='/static/scripts/jquery-1.10.2.min.js')

    for planet in planets.values()
        include planet
