
extends layout

block content
    .planet-head
        h2 Stars With Confirmed Planets: #{stars|count}

    link(rel='stylesheet', type='text/css', href='/static/content/foundation.min.css')
    link(rel='stylesheet', type='text/css', href='/static/content/site.css')
    script(src='/static/scripts/jquery-1.10.2.min.js')

    for star in stars.values()
        include star
