a {
    color: #260B47;
}

body {
    margin: 0;
    background-color: #363377;
}

.explanation {
    padding: 1em;
    margin: 1em;
    background-color: #BDBCDC;
    color: #260B47;
}

div.explanation h2 {
    color: #260B47;
}

h1,h2,h3 {
    color: #BDBCDC;
}

.detail {
    margin-top: 1em;
    padding: 0;
    background-color: #260B47;
    color: #e8e8e8;
    animation: slide-right 2s;
}

@media only screen and (max-width: 40em) {
    @keyframes slide-right {
        0% {
            left: -100%;
        }

        100% {
            left: 0%;
        }
    }

    @keyframes slide-left {
        0% {
            left: 100%;
        }

        100% {
            left: 0%;
        }
    }
}

@media only screen and (min-width: 40.063em) {
    @keyframes slide-right {
        0% {
            left: -100%;
        }

        100% {
            left: -33.5%;
        }
    }

    @keyframes slide-left {
        0% {
            left: 100%;
        }

        100% {
            left: 66.5%;
        }
    }
}

.details-head {
    margin: 0;
    padding: 1em;
}

.details {
    background-color: #6C69A5;
    margin: 0 0 1em 0;
    padding: 1em;
}

.nav-card {
    padding: 1em;
    margin: 1em;
    background-color: #C7B7DC;
    color: #0C011A;
}

.navigation {
    animation: slide-left 2s;
}

svg {
    background-color: black;
    max-width: 300px;
}
