body {
    margin: 0;
    background-color: #363377;
}

header {
}

#banner {
    width: 100%;
}

#title {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 3em;
}

h1,h2,h3 {
    color: #BDBCDC;
}

.planet {
    margin-top: 1em;
    padding: 0;
    background-color: #260B47;
}

.planet-head {
    margin: 0;
    padding: 1em;
}

.planet-details {
    background-color: #6C69A5;
    margin: 0 0 1em 0;
    padding: 1em;
}

.navigation {

}

.nav-card {
    padding: 1em;
    margin: 1em;
    background-color: #C7B7DC;
    color: #0C011A;
}

svg {
    background-color: black;
    max-width: 300px;
}
